mixin card-form()
	block
	form
		.row
			.col-lg-12.col-md-6
				+input('tel','+7 (___)___-__-__')
			.col-lg-12.col-md-6
				+e.btn.btn-primary.btn-block(type="submit") Оформить заявку
		+polite


mixin card-head-radio( ...items)
	
	+e.row.row.row--sm
		each t in items
			.col-auto
				+b.prod-btn(href="#")&attributes(attributes)= t
mixin card-head-radio2(t, num,  ...items)
	+b.group-title= t
	+e.row.row.row--sm.row-btns 
		-for (var i = 0; i < items.length; i++)
			.col-auto
				+b.prod-btn(href="#" class=(i== (num - 1)  ? 'active': null))&attributes(attributes)= items[i]
mixin card-head-radio3(t, num,  ...items)
	+b.group-title= t
	+e.row.row.row--sm.row-btns 
		-for (var i = 0; i < items.length; i++)
			.col-auto
				if i== (num - 1)
					+in-rad(`radio-${num}`)(checked) 
						+b.SPAN.text= items[i]
				else
					+in-rad(`radio-${num}`) 
						+b.SPAN.text= items[i]

mixin s-card-head(t, t2,  p, ...items)
	// start s-card-head
	+b.s-card-head.section#s-card-head.lazy-background&attributes(attributes)
		.container

			+e.H1.title.text-lg-left.text-center= t 
			+e.head-row.row.align-items-center.text-lg-left.text-center
				+e.sub-title.col-lg-auto.text-primary.d-block= t2 
				.col-auto
					+e.label--bg
						strong 20 000 тонн 
						| 
						|  в наличии
				
				.col-auto
					+e.label--border Цена с карьера
				.col-auto
					+e.label
						+e.icon-wrap
							+icon('wallet')
							| Отсрочка платежа
			+e.body
				.row
					+e.col-left.col-lg-auto.col-md-6 
						+e.slider-wrap.d-md-none
							+e.slider--js.swiper-container
								.swiper-wrapper
									each item in items
										+e.slide.swiper-slide(data-thumb=`img/prod-slide-${item}.jpg`)
											.easyzoom( ) 
												+e.img-wrap.img-bg(href=`img/prod-slide-lg.jpg` data-background=`img/prod-slide-${item}.jpg` class="swiper-lazy")
													img(src="#" data-src=`img/prod-slide-${item}.jpg` class="swiper-lazy"  alt="")
								+arrow()
							.prod-pagination
						+e.col-left-inner.d-none.d-md-block
							+e.main-img-wrap
								img.res-i.lazy(src="#" data-src=`img/@2x/prod-1.jpg`, alt="")
							+b.search-place.popup-place-js(href="#modal-search-place")
								.row
									.col
										+e.text Указать место подачи материала
									.col-auto
										+e.btn
											+icon("mark")
					.col-md
						if block 
							block
						else
							+e.btns-wrap
								+card-head-radio2("Марка",4,"М400","М600","М800","М1000","М1200","М1400","Гранитный","Жигулевский","Известняковый","Гравийный","Доломитовый")
								+card-head-radio2("Фракция",1,"5-20","20-40","40-70","70-120")
								+card-head-radio3("Объем поставки",1,"10-100 тн","100-1000 тн","более 1000 тн")
					.col-lg-auto
						+b.form-wrap
							+card-form()
								.text-center 
									.h55
										strong Оформить заявку
										|
									p Введите номер телефона и&nbsp;в&nbsp;течение 5&nbsp;минут с&nbsp;вами свяжется наш менеджер

	// end s-card-head
mixin s-card-head-19(t, t2,  p, ...items)
	// start s-card-head
	+b.s-card-head.section#s-card-head.lazy-background&attributes(attributes)
		.container

			+e.H1.title.text-lg-left.text-center= t 
			+e.head-row.row.align-items-center.text-lg-left.text-center
				+e.sub-title.col-lg-auto.text-primary.d-block= t2 
				.col-auto
					+e.label--bg
						strong На линии
				
				.col-auto
					+e.label--border Доступен для заказа
				.col-auto
					+e.label
						+e.icon-wrap
							+icon('wallet')
							| Отсрочка платежа
			+e.body
				.row
					+e.col-left.col-lg-auto.col-md-6 
 
						+e.col-left-inner
							+e.main-img-wrap
								img.res-i.lazy(src="#" data-src=`img/@2x/cart-auto.jpg`, alt="")
					.col-md: +e.col-center-inner
						.d-none.d-md-block
							+b.group-title Место подачи техники
							+b.search-place.popup-place-js.mb-4(href="#modal-search-place")
								.row
									.col
										+e.text Указать место подачи материала
									.col-auto
										+e.btn
											+icon("mark")
						.row
							mixin select(cl)
								+sel2()(class= cl) 
									option(value="00:00") 00:00  
									option(value="00:30")  00:30
									option(value="01:00")   01:00
									option(value="01:30")   01:30
									option(value="02:00")   02:00
									option(value="02:30")   02:30
									option(value="03:00")  03:00
									option(value="03:30")   03:30
									option(value="04:00")   04:00
									option(value="04:30")   04:30
									option(value="05:00")   05:00
									option(value="05:30")   05:30
									option(value="06:00")   06:00
									option(value="06:00")   06:00
									option(value="06:30")   06:30
									option(value="06:30")   06:30
									option(value="07:00")   07:00
									option(value="07:30")   07:30
									option(value="08:00")   08:00
									option(value="08:30")   08:30
									option(value="08:00")   08:00
									option(value="08:30")   08:30
									option(value="09:00")   09:00
									option(value="09:30")   09:30
									option(value="10:00")   10:00
									option(value="10:30")   10:30
									option(value="11:00")   11:00
									option(value="11:30")   11:30
									option(value="12:00")   12:00
									option(value="12:30")   12:30
									option(value="13:00")   13:00
									option(value="13:30")   13:30
									option(value="14:00")   14:00
									option(value="14:30")   14:30
									option(value="14:00")   14:00
									option(value="14:30")   14:30
									option(value="15:00")   15:00
									option(value="15:30")   15:30
									option(value="16:00")   16:00
									option(value="16:30")   16:30
									option(value="17:00")   17:00
									option(value="17:30")   17:30
									option(value="18:00")   18:00
									option(value="18:30")   18:30
									option(value="19:00")   19:00
									option(value="19:30")   19:30
									option(value="20:00")   20:00
									option(value="20:30")   20:30
									option(value="21:00")   21:00
									option(value="21:30")   21:30
									option(value="22:30")   22:30
									option(value="23:00")   23:00
									option(value="23:30")   23:30
							.col-6
								+b.group-title Начало аренды
								.row.row--sm
									.col-6
										+input("text")(class="input-date-js")
									.col-6
										+select("  select-js")

							.col-6
								+b.group-title Конец аренды
								.row.row--sm
									.col-6
										+input("text")(class="input-date-js")
									.col-6
										+select("  select-js")
						+b.group-title Количество
						+b.block-add
							+e.btn(type="button") -
							+e.INPUT.input(type="text" value="1")
							+e.btn(type="button") +

					.col-lg-auto
						+b.form-wrap
							+card-form()
								.text-center 
									.h55
										strong Оформить заявку
										|
									p Введите номер телефона и&nbsp;в&nbsp;течение 5&nbsp;минут с&nbsp;вами свяжется наш менеджер

	// end s-card-head

mixin s-card-head-shipping(t, t2)
	// start s-card-head
	+b.s-card-head--shipping.section#s-card-head.lazy-background&attributes(attributes)
		.container

			+e.H1.title.text-lg-left.text-center= t  
				| 
				span.text-primary Объем ковша 2 м
					sup 2
			+e.body
				.row
					+e.col-left.col-lg-auto.col-md-6.align-self-center  
						+e.col-left-inner
							+e.main-img-wrap.text-center
								img.res-i.lazy(src="#" data-src=`img/@2x/kamaz.png`, alt="")
					.col-md.align-self-center: +e.col-center-inner 
						p Услуга &laquo;Доставка автотранспортом&raquo; для тех, кому необходимо доставить материал на&nbsp;объект как можно быстрее, при этом минимизировать стоимость доставки.

						p Доставка материала до&nbsp;любого объекта осуществляется на&nbsp;самосвалах КАМАЗ, МАЗ и&nbsp;Тонарах, вместимость каждого от&nbsp;15&nbsp;до&nbsp;40&nbsp;тонн.
					.col-lg-auto
						+b.form-wrap
							+card-form()
								.text-center 
									.h55
										strong Оформить заявку
										|
									p Введите номер телефона и&nbsp;в&nbsp;течение 5&nbsp;минут с&nbsp;вами свяжется наш менеджер

	// end s-card-head

mixin s-card-head-shipping-3( p, item, ...items)
	// start s-card-head
	+b.s-card-head.section#s-card-head.lazy-background&attributes(attributes)
		.container 
			.row
				.col-xl-5.col-md-6 
					+e.slider-wrap
						
						+e.img-wrap.img-bg( )
							img.lazy-bg(src="#" data-src=`img/head-ship-${item}.jpg`   alt="")
					 
				.col-xl-7.col-md-6.order-md-first
					.text-md-left.text-center
						block
						
						+b.prod-btn--active.--lg.--shipping()= p

						+e.btn.d-md-none.popup-with-move-anim(href="#modal-call" data-title='Оставить заявку') Оставить заявку
					each text in items
						.h6= text
					+b.form-wrap.d-none.d-lg-block
						+card-form()
			+b.form-wrap.d-none.d-md-block.d-lg-none
				+card-form()
	// end s-card-head

