mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="img/svg/sprite.svg#" + name)


mixin breadcrumb(act, ...items)
	nav.breadcrumb
		each item in items
			a.breadcrumb-item(href='#')= item 
		span.breadcrumb-item.active= act
//- breadcrumb
//- mixin breadcrumb2(...items)
//- 	nav(aria-label="breadcrumb"  )
//- 		.container
//- 			ol.breadcrumb(itemscope itemtype="http://schema.org/BreadcrumbList")
//- 				-for (var i = 0; i < items.length; i++)
//- 					li.breadcrumb-item( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
//- 						a(href=(i == 0 ? "/" : '#') itemprop="item" )
//- 							span( itemprop="name")= items[i]
//- 							meta(itemprop="position" content= (i + 1) )
mixin breadcrumb2(...items)
	nav(aria-label="breadcrumb" class="breadcrumb-wrap" )
		.container
			.breadcrumb-slider-js.swiper-container
				ol.breadcrumb.swiper-wrapper(itemscope itemtype="http://schema.org/BreadcrumbList")
					-for (var i = 0; i < items.length; i++)
						li.breadcrumb-item.swiper-slide( class=(i == items.length - 1 ? "active" : '')   itemprop="itemListElement" itemscope  itemtype="http://schema.org/ListItem")
							a(href=(i == 0 ? "/" : '#') itemprop="item" )
								span( itemprop="name")= items[i]
								meta(itemprop="position" content= (i + 1) )
mixin pugin()
	nav(aria-label='...')
		ul.pagination.justify-content-center
			li.page-item.disabled
				a.page-link(href='#', tabindex='-1') 
					i(class="fas fa-chevron-left")
			li.page-item.disabled
				a.page-link.d-none.d-md-block(href='#', tabindex='-1') Назад

			li.page-item
				a.page-link(href='#') 1
			li.page-item.active
				a.page-link(href='#')
					| 2 
					span.sr-only (current)
			li.page-item
				a.page-link.page-link-more(href='#') ...
			li.page-item
				a.page-link(href='#') 3

			li.page-item
				a.page-link.d-none.d-md-block(href='#') Дальше
			li.page-item
				a.page-link(href='#') 
					i(class="fas fa-chevron-right")
//- h2.yel(class="  wow fadeInUp animated " data-wow-offset="120" data-wow-duration="1.2s")  
mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		img(src="img/chevron-left.svg", alt="")
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		img(src="img/chevron-right.svg", alt="")
		
 
mixin soc()
	+b.soc
		mixin item()
			+e.A.item(href="#" target="_blank")
				block
		+item()
			+icon('whatsup')
		+item()
			+icon('telegram')
		+item()
			+icon('viber')
//- WP menu
//- mixin mnu()
//- 	- var nav= { "Наши работы":"#","Цены":"#","Калькулятор":"#","Акции":"#" ,"Заказать":"#"}
//- 	ul.menu
//- 		li.menu-item.menu-item-has-children
//- 			a(href="#") О нас
//- 			ul.sub-menu
//- 				li.menu-item: a(href="#") Строительство загородных домов
//- 				li.menu-item: a(href="#") Отделка загородных домов
//- 				li.menu-item: a(href="#") Покраска деревянных домов
//- 				li.menu-item: a(href="#") Штукатурные фасады загородных домов
//- 		each linkPatch, linkName in nav
//- 			li.menu-item: a(href="#")= linkName

//- menu
mixin mnu()
	-
		var nav= {
			"Узкие фракции щебня":"#",
			"Отсев щебня":"#",
			"Смеси щебня":"#",
			"Бутовый камень":"#",
			"Песок":"#",
			"Гравий":"#",
			"ПГС ОПГС":"#",
			}
	mixin sub(...items)
		.sub-menu-wrap: +b.UL.sub-menu
			each item in items 
				+e.LI.item( itemprop="item" )&attributes(attributes)
					+e.A.link(href="#"  itemprop="url")
						block
						= item
	+b.UL.site-nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
		+e.LI.item( itemprop="item" ): +e.A.link--lg.active(href="#"  itemprop="url")  Продукция
		+e.LI.item--has-child( itemprop="item" )
			+e.A.link--sm(href="#"  itemprop="url")  Щебень
			+sub( "5-20","20-40","40-70","70-120","M400","M600","M800","M1000","M1200","M1400","Гранитный","Известняковый","Доломитовый","Жигулевский","Гравийный")
		mixin li(a) 
			+e.LI.item--has-child( itemprop="item" )
				+e.A.link(href="#" itemprop="url")&attributes(attributes)= a
				block
		+li("Песок")(class="site-nav__link--sm")
			+sub("Песок растворный (волжский)","Песок речной","Песок обогащенный","Песок строительный")
		+li("ПГС ОПГС")(class="site-nav__link--sm")
			+sub("Песчано-гравийная смесь","Обогащенная песчано-гравийная смесь")
		+li("Гравий")(class="site-nav__link--sm")
			+sub("5-10","5-20","20-40","20-70","40-70")
		+li("Бутовый камень")(class="site-nav__link--sm")
			+sub("70-150","100-300","нестандартный")
		+li("Отсев щебня")(class="site-nav__link--sm")
			+sub("0-5","0-10","0-20")
		+li("Смеси щебня")(class="site-nav__link--sm")
			+sub("0-20","0-40","0-80","0-120")
		+li("Узкие фракции щебня")(class="site-nav__link--sm")
			+sub("3-10","5-10","5-15","10-15","20-70","40-70")

		+li("Аренда спецтехники")(class="site-nav__link--lg")
			.sub-menu-wrap: +b.UL.sub-menu 
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-1.png", alt="") 
						| Самосвал КАМАЗ кузов&nbsp;10&nbsp;м3
			
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-1.png", alt="") 
						| Самосвал КАМАЗ кузов&nbsp;15&nbsp;м3
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-1.png", alt="") 
						|  Самосвал КАМАЗ кузов&nbsp;30&nbsp;м3
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-2.png", alt="") 
						| Фронтальный позгручик&nbsp;Volvo
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-2.png", alt="") 
						| Фронтальный погрузчик&nbsp;Mitsuber
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-3.png", alt="") 
						| Экскаватор-погрузчик&nbsp;Caterpillar
				+e.LI.item( itemprop="item" )
					+e.A.link(href="#"  itemprop="url")
						+e.img-wrap
							img.res-i(src="img/@2x/rent-3.png", alt="") 
						| Экскаватор-погрузчик&nbsp;JCB

			//- +sub("Самосвал КАМАЗ кузов 10 м3","Самосвал КАМАЗ кузов 15 м3","Самосвал КАМАЗ кузов 30 м3","Фронтальный погрузчик Volvo","Фронтальный погрузчик Mitsuber","Экскаватор-погрузчик Caterpillar","Экскаватор-погрузчик JCB")

		+li("Услуги")(class="site-nav__link--lg")
			+sub("Уборка и вывоз снега")
			+sub("Доставка автотранспортом")
		
		+li("Выполненные проекты")(class="site-nav__link--lg")
			+sub("Аэропорт Бегишево","Автосалон DAF","Нефтепровод Газпром","Супермаркет Лента (пока этих достаточно)") 
		+li("Компания")(class="site-nav__link--lg")
			+sub("О компании","Ответы на вопросы","Новости","База знаний","Документы","Вакансии","Контакты") 
 
		
//- /menu


mixin mnu2(navObj)
	+b.UL.top-menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in navObj
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName

mixin pic(i, bg, lazy="lazy", media)
	-
		const smpath2 = "2x"
		const smpath1 = "1x"
		let expArr = i.split(".")
		let exp = (expArr[1] || 'jpg')
	mixin src(i, exp, path , lazy, source, bg)
		-
			const url= `img/@${path}/${expArr[0]}.${exp}`
			const ifLazy = (lazy== "lazy")
			const src = ( ifLazy ? "#" : url)
			const data = (ifLazy ?  url  : null)

		if source
			source( srcset=src data-srcset= data  type=`image/${exp}`   )&attributes(attributes)
		else
			img(src=src data-src=data, class=(bg=="bg" ? "object-fit-js": null ) alt="")&attributes(attributes)
	
	// picture
	picture( class= lazy)&attributes(attributes) 
		if media
			each val in [exp] 
				each val2 in [smpath2,smpath1] 
					+src(i,val,`${val2 + (val ==  "webp" ? "/webp" : "") }`,lazy,"source")(media=(val2 == smpath2 ? "(min-width:"+ media+")" : null))
		else 
			+src(i,'webp',smpath2+`/webp`,lazy,"source")
			// /webp images  
		+src(i, exp,smpath2, lazy,"",bg) 
	// /picture


mixin ie11()
 

	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->