
mixin prod(t, t2, ...items)
	+b.item-prod&attributes(attributes)
		block
		+e.caption
			+e.title
				a.text-body.tdn(href="#")= t
					.d-xl-block.d-inline-block.text-primary= t2
			+e.UL.list
				each item in items
					+e.LI.item
						+e.link.body-link(href='#')= item 
mixin prod-cap(t, t2 )
	+b.item-prod--cap&attributes(attributes)
		+e.caption
			+e.title
				.text-body.tdn()= t
					.d-xl-block.d-inline-block.text-primary= t2 
			block


mixin prod1(i,t, t2, ...items)
	+b.item-prod&attributes(attributes)
		.row
			.col-xl-12.col-6.d-none.d-md-block
				+e.img-wrap.img-animate.img-bg(href="#" )
					img.lazy-bg(src="#" data-src=`img/prod-${i}.jpg`, alt="") 
			.col-xl-12.col-md-6
				+e.caption--lg
					+e.title
						a.text-body.tdn(href="#")= t
							.d-xl-block.d-inline-block.text-primary= t2
					+e.UL.list
						each item in items
							+e.LI.item
								+e.link.body-link(href='#')= item 
mixin prod-col2(i,t, t2 )
	+b.item-prod&attributes(attributes) 
		+e.img-wrap.img-animate.img-bg.d-xl-block.d-none(href="#" )
			img.lazy-bg(src="#" data-src=`img/prod-${i}.jpg`, alt="")  
		+e.caption
			+e.title
				a.text-body.tdn(href="#")= t
					.d-xl-block.d-inline-block.text-primary= t2
			+e.row.row.row--sm
				block
				//- each item in items
							
mixin prodf(i,t, t2 )
	+b.item-prod&attributes(attributes)
		.row
			.col-xl-12.col-6.d-none.d-md-block
				+e.img-wrap.img-animate.img-bg(href="#" )
					img.lazy-bg(src="#" data-src=`img/prod-${i}.jpg`, alt="") 
			.col-xl-12.col-md-6
				+e.caption--lg
					+e.title
						a.text-body.tdn(href="#")= t
							.d-xl-block.d-inline-block.text-primary= t2
					+e.row.row.row--sm
						block
						//- each item in items
							

mixin prodf(t,pr, ...items)
	+b.item-prod&attributes(attributes)
		+e.head
			.row
				.col
					+e.title
						strong= t
						| 
						+e.SPAN.price= pr
				.col-auto
					+e.btn.btn-primary.popup-with-move-anim(href="#modal-call-new" data-title="Оставить заявку" data-btn="Оставить заявку") Заказать
		+e.row.row

			if block
				block
			else
				.col-auto
					each item in items
						+e.item: +e.link(href='#')= item
		+pic("prod")
mixin prod-snow(t,pr, i)
	+b.item-prod--snow&attributes(attributes)
		+e.head
			+e.title
				strong= t
				| 
				+e.SPAN.price= pr
		block
		+e.btn.btn-primary.popup-with-move-anim(href="#modal-call-new" data-title="Оставить заявку" data-btn="Оставить заявку") Заказать
		+pic(i,'','')

mixin s-prod()
	// start s-prod
	+b.s-prod.section#s-prod.lazy-background&attributes(attributes)
		.container
			block
				
			.row
				+e.col.col-xl-4.col-md-6
					+prodf("Щебень"," от 450 руб/тн",'5-20','20-40','40-70','70-120','Гранитный','Известняковый','Доломитовый','Жигулевский','М400','М600','М800','М1000','М1200','М1400')
						.col-auto
							+e.item: +e.link(href='#') 5-20
							+e.item: +e.link(href='#') 20-40
							+e.item: +e.link(href='#') 40-70
							+e.item: +e.link(href='#') 70-120 
						.col-auto
							+e.item: +e.link(href='#') М400 
							+e.item: +e.link(href='#') М600
							+e.item: +e.link(href='#') М800
							+e.item: +e.link(href='#') М1000
						.col-auto
							+e.item: +e.link(href='#') М1200
							+e.item: +e.link(href='#') М1400
 

				+e.col.col-xl-4.col-md-6
					+prodf("Щебень"," от 450 руб/тн" )
						.col-auto
							+e.item: +e.link(href='#') Гранитный
							+e.item: +e.link(href='#') Известняковый
							+e.item: +e.link(href='#') Доломитовый
							+e.item: +e.link(href='#') Жигулевский 
				+e.col.col-xl-4.col-md-6
					+prodf( 'Песок','от 200 руб/тн','Песок растворный (волжский) ' ,'Песок речной','Песок обогащённый','Песок строительный')
				+e.col.col-xl-4.col-md-6
					+prodf('ПГС ОПГС','от 280 руб/тн','Песчано-гравийная смесь','Обогащённая песчано-гравийная смесь')

				+e.col.col-xl-4.col-md-6
					+prodf('Гравий','цена по запросу')
						.col-auto
							+e.item: +e.link(href='#') 5-10
							+e.item: +e.link(href='#') 5-20
							+e.item: +e.link(href='#') 20-40
						
						.col-auto
							+e.item: +e.link(href='#') 20-70
							+e.item: +e.link(href='#') 40-70 
				+e.col.col-xl-4.col-md-6
					+prodf('Бутовый камень','от 400 руб/тн','70-150','100-300','нестандартный' )
				+e.col.col-xl-4.col-md-6
					+prodf('Отсев щебня','от 420 руб/тн','0-5','0-10','0-20')
			 
				+e.col.col-xl-4.col-md-6
					+prodf('Смеси щебня','цена по запросу')
						.col-auto
							+e.item: +e.link(href='#') 0-20
							+e.item: +e.link(href='#') 0-40
							+e.item: +e.link(href='#') 0-80
						.col-auto
							+e.item: +e.link(href='#') 0-120
				+e.col.col-xl-4.col-md-6 
					+prodf('Узкие фракции','цена по запросу','3-10','5-10','5-15','10-15','10-20','20-70','25-60')
						.col-auto
							+e.item: +e.link(href='#') 3-10
							+e.item: +e.link(href='#') 5-10
							+e.item: +e.link(href='#') 5-15
						.col-auto
							+e.item: +e.link(href='#') 10-15 
							+e.item: +e.link(href='#') 20-70
							+e.item: +e.link(href='#') 40-70  
					//- +e.col--sm.col-3

 
				


	// end s-prod

mixin s-prod-03()
	// start s-prod
	+b.s-prod.section#s-prod.pt-1&attributes(attributes)
		.container
			block
				
			.row  
				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Качественная', 'продукция' )
						+e.text.h6  Поставляемый щебень высокой прочности имеет паспорта 
							|
							br.d-none.d-xl-block
							| качества

				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Быстрая ', 'доставка ' ) 
						+e.text.h6 Быстрая доставка щебня до&nbsp;любого объекта, точно в&nbsp;срок
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Бесплатные', ' образцы' ) 
						+e.text.h6 В&nbsp;течении недели бесплатно доставим образцы щебня
				
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Отгрузка', 'в первый день ' ) 
						+e.text.h6 Начинаем отгрузку материала в&nbsp;день обращения



	// end s-prod

mixin s-prod-02-6()
	// start s-prod
	+b.s-prod.section#s-prod.pt-1&attributes(attributes)
		.container
			block
				
			.row  
				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Качественная', 'продукция' )
						+e.text.h6  Поставляемый материал имеет паспорта
							|
							br.d-none.d-xl-block
							| качества

				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Быстрая ', 'доставка ' ) 
						+e.text.h6 Быстрая доставка материала до&nbsp;любого объекта, точно в&nbsp;срок
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Бесплатные', ' образцы' ) 
						+e.text.h6 В&nbsp;течении недели бесплатно доставим образцы материала
				
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Отгрузка', 'в первый день ' ) 
						+e.text.h6 Начинаем отгрузку материала в&nbsp;день обращения



	// end s-prod

mixin s-prod-02-5()
	// start s-prod
	+b.s-prod.section#s-prod.pt-1&attributes(attributes)
		.container
			block
				
			.row  
				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Качественная', 'продукция' )
						+e.text.h6  Поставляемый бутовый камень высокой прочности имеет паспорта качества

				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Быстрая ', 'доставка ' ) 
						+e.text.h6 Быстрая доставка бутового камня до&nbsp;любого объекта, точно в&nbsp;срок
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Бесплатные', ' образцы' ) 
						+e.text.h6 В&nbsp;течении недели бесплатно доставим образцы бутового камня
				
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Отгрузка', 'в первый день ' ) 
						+e.text.h6 Начинаем отгрузку материала в&nbsp;день обращения



	// end s-prod


mixin s-prod-03-()
	// start s-prod
	+b.s-prod.section#s-prod.pt-1&attributes(attributes)
		.container
			mixin prod-cap(t )
				+b.item-prod--cap&attributes(attributes)
					+e.caption
						+e.title.text-body.tdn()= t 
						block
			.row  
				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Качественная', 'продукция' )
						+e.text.h6  Поставляемый щебень высокой прочности имеет паспорта 
							|
							br.d-none.d-xl-block
							| качества

				+e.col.col-xl-3.col-md-6
					+prod-cap( 'Быстрая ', 'доставка ' ) 
						+e.text.h6 Быстрая доставка щебня до&nbsp;любого объекта, точно в&nbsp;срок
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Бесплатные', ' образцы' ) 
						+e.text.h6 В&nbsp;течении недели бесплатно доставим образцы щебня
				
				+e.col.col-xl-3.col-md-6
					+prod-cap( ' Отгрузка', 'в первый день ' ) 
						+e.text.h6 Начинаем отгрузку материала в&nbsp;день обращения



	// end s-prod


mixin s-prod-20()
	// start s-prod
	+b.s-prod.section#s-prod.lazy-background&attributes(attributes)
		.container
			block
				
			.row
				+e.col.col-xl-4.col-md-6
					+prod-snow("Вывоз снега"," от 120 руб/м3",'snow-1.png') 
						ul
							li Самосвалы КАМАЗ кузов 10&nbsp;м<sup>3</sup>, 15&nbsp;м<sup>3</sup>, 20&nbsp;м<sup>3</sup>
				// /+e.col.col-xl-4.col-md-6
 
				+e.col.col-xl-4.col-md-6
					+prod-snow("Уборка территории от снега","1500 руб/час",'snow-2.png') 
						ul
							li Экскаваторы-погрузчики
							li Фронтальные погрузчики
				// /+e.col.col-xl-4.col-md-6
 
				+e.col.col-xl-4.col-md-6
					+prod-snow("Утилизация снега ","на полигоне от 1000 руб",'snow-3.png') 
						ul
							li Талоны на&nbsp;утилизацию
				// /+e.col.col-xl-4.col-md-6
 

 


	// end s-prod